// Color
color-yellow = #FABE00
color-purple = #352B36
color-black = #000405
color-light-1 = #EDECD0
color-background = color-purple
color-font = color-purple
color-meta = #3D7687
color-border = color-purple
color-link = #3D7687
color-background-2 = color-light-1

// Font
font-default = "Helvetica Neue", "Helvetica", Arial, sans-serif
font-serif = "Georgia", serif
font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-title = "Lato", Helvetica Neue, Helvetica, Arial, sans-serif


font-icon = FontAwesome
font-icon-path = 'font/fontawesome-webfont'

@font-face {
  font-family 'FontAwesome'
  font-style normal
  font-weight normal
  src url(font-icon-path.eot?#iefix) format('embedded-opentype'), url(font-icon-path.woff) format('woff'), url(font-icon-path.ttf) format('truetype'), url(font-icon-path.svg#FontAwesomeRegular) format('svg')
}

// mainpage
page-width = 800px
left-col-width = 70%
right-col-width = 25%
sidebar-bottom = 30px