#comment
  padding 20px
  background color-background-2
  margin-bottom 50px
  .title
    font-weight normal
    margin-bottom 15px
#ds-thread  
  #ds-reset
    a
      text-shadow none!important
      color color-background!important
      &:hover
        color color-link!important
#ds-thread #ds-reset .ds-login-buttons .ds-more-services
  color color-link!important
  &:hover
    color color-link!important
    text-decoration underline!important