#header
  margin 50px auto
  a
    color color-background-2
    &:hover
      color color-link
      text-decoration none
  @media screen and (max-width: 480px)
    width 100%  
  .subtitle
    font-weight normal
    font-size 0.9em
    line-height 1
    margin-top 10px
    
  .title
    font-weight bold
    font-size 2.5em
    line-height 1
  
  #main-nav
    font-family font-title
    line-height 2.5em
    ul
      list-style none
      li
        display inline
        margin-left 5px